<h1 style="text-align:center">About</h1>


<div class="card text-white bg-primary">
    <div class="card-header">NOTE</div>
    <div class="card-body">
        <p>&#8227; This website was created in an educational an informational manner <br>
        &#8227; Due to request/response times and asynchronicity, you might have to reload 
        the page a couple times for data lookup <br>
        &#8227; All data presented is public information from Twitter</p>
    </div>
</div>

<div class="card text-white bg-success">
    <div class="card-header">CREDITS</div>
    <div class="card-body">
        <p>&#8227; All data acquired using the <a href="https://developer.twitter.com/en/docs" target="_blank">Twitter API</a>
        <br>&#8227; Woeid information from <a href="https://nations24.com/" target="_blank">nations24</a> 
        and json data <a href="https://codebeautify.org/jsonviewer/cbe97376" target="_blank">codebeautify</a>
        <br> &#8227; Handling asynchronous &amp; cursored requests from 
        <a href="https://stackoverflow.com/questions/28008897/node-js-twitter-api-cursors" target="_blank">stack overflow</a>  
        </p>
        
    </div>
</div>

<div class="card text-white bg-danger">
    <div class="card-header">LIMITS</div>
    <div class="card-body">
        <p> &#8227; Twitter API Limits requests (searching for data) to <br>
            &nbsp; &#8259; User Lookup: 3000 requests/15 minutes <br>
            &nbsp; &#8259; User Followersing/ing: 15 requests/15 minutes <br>
            &nbsp; &#8259; Trends: 75 requests/15 minutes  <br>
            &#8227; Followers/ing is limited to reduce # of requests
        </p>
    </div>
</div>

<div class="card text-white bg-warning">
    <div class="card-header">INFO</div>
    <div class="card-body">
        <p>&#8227; This webapp was created using Node.js (along with the express,
            express-handlebars, and twitter modules) <br>
            &#8227; Complete documentaion on Github (link below) <br>
            &#8227; CSS using Bootstrap CDN
            <br>
            <br>

        </p>
    </div>
</div>

<div class="info">
    <p style="text-align:center">Created by Aksharan Saravanan</p>
    <button type="button" class="btn btn-outline-light" id="info" onclick="location.href='/'">Github</button>
</div>

<div class="about-home">
    <button type="button" class="btn btn-outline-light" id="ahome" onclick="location.href='/'">Home</button>
</div>