
<div class="title">
    <h1>Twitter Followers/ing &amp; Trends</h1>
</div>


<div class="main-trends"> 

    <h1 class="text-success">Trends</h1>

    <div class="search-trends"> 
        <form action="/trends" method="POST">
            <input type="text" placeholder="Enter a location" name="name">
            <input type="submit" class="btn-success" value="search">
        </form>

        <h6> <a href="https://nations24.com/world-wide" target="_blank">
        (CLICK THIS) Enter a location according to its name or woeid. <br>
        If the entry is invalid, you will be redirected back to this page. <br>
        Otherwise, you will be forwarded to the trends page. <br>
        </a></h6>

    </div>

    <div class="main-display-trends">
        <h2 class="text-primary">Location: {{loc}}</h1>

        <table class="table">
            <thead>
                <tr>
                <th>Topic &amp; Link</th>
                <th>Tweets</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                <td><a href="{{this.url}}" target="_blank">{{this.name}}</a></td>   
                <td style="color: darkorange">{{this.tweet_volume}}</td>
                </tr>
                {{/each}}
            </tbody>

        </table>
            
    </div>

</div>


<div class="main-lookup">
    <h1>User Lookup</h1>
    <div class="lookup-form">
        <form action="/lookup" method="POST">
            <input type="text" placeholder="Enter a username @" name="name1">
            <input type="submit" class="btn-danger" value="search">
        </form>
    </div>

    <h5>Enter a username (the twitter handle) to display info on the user 
        including followers, following, likes, tweets, and more! 
        If the entry is invalid, you will be redirected back to this page.
    </h5>

</div>

<div class="main-followersing">
    <h1>User Followers/ing</h1>
     <div class="fwsing-form">
        <form action="/fwsing" method="POST">
            <input type="text" placeholder="Enter a username @" name="name2">
            <input type="submit" class="btn-warning" value="search">
        </form>
    </div>

    <h5>Enter a username (the twitter handle) to display the users'
        followers and following. If the entry is invalid, you will be 
        redirected back to this page. Limit is 1000 followers/following.
    </h5>
</div>

<div class="abt">
    <button type="button" class="btn btn-outline-light" id="about" onclick="location.href='/about'">ABOUT</button>
</div>


