html body{
    background-color: black;
    color: white;
}

.main-display-trends a:link{
    text-decoration: none !important;    
}

.title h1{
    text-align: center;
    color: blueviolet;
    font-size: 80px;
    font-family: "Optima";
}

.main-trends {
    margin-left: 50%;
    margin-top: 10px;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    width: 48%;
    height: 80%;
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(112, 128, 144, 0.267);
}

.main-trends h1{
    text-align: center;
}

.search-trends {
    display: flex;
    white-space: nowrap;
}

.search-trends h6{
    margin-left: 20px;
    font-size: 10px;
}

.main-trends .table{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-lookup {
    margin-left: 20px;
    margin-top: 17px;
    height: 240px;
    width: 46%;
    border: 1px solid white;
    overflow-y: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(112, 128, 144, 0.267);
}

.main-lookup h1{
    text-align: center;
    color: crimson;
}
.main-lookup h5{
    padding: 20px;
}

.lookup-form form{
   text-align: center;
}

.main-followersing {
    margin-left: 20px;
    margin-top: 17px;
    height: 280px;
    width: 46%;
    border: 1px solid white;
    overflow-y: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(112, 128, 144, 0.267);
}

.main-followersing h1{
    text-align: center;
    color: khaki;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-followersing h5{
    padding: 20px;
}

.fwsing-form form{
    text-align: center;
}

#about {
    position: absolute;
    margin-top: 20px;
    margin-left: 20%;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: white; 
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

.trends-display-trends a:link{
    text-decoration: none !important;  
}
.trends-display-trends {
    margin-left: 15%;
    margin-right: 15%;
    height: 83%;
    width: 70%;
    position: absolute;
    border: 1px solid white;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden; 
    background: rgba(112, 128, 144, 0.185);
}

.trends-display-trends .table{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.trends-display-trends h2{
    padding-top: 15px;
    text-align: center;
}

#thome {
    position: absolute;
    margin-top: 45%;
    margin-left: 48%;
}

.banner {
    border: 2px solid white;
    margin-top: 20px;
    margin-left: 32%;
    height: 205px;
    width: 505px;
}

.banner img{
    height: 200px;
    width: 500px;
    object-fit: cover;

}

#lookup-title {
    text-align: center;
    color: crimson;
}

.picture img{
    margin-left: 47%;
    margin-top: -30px;
    border: 1px solid white;
    width: 5%;
}

.name-handle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2d53ff, 0 0 30px #2dbcff, 0 0 40px #2de6ff, 0 0 50px #532dff, 0 0 75px #2d65ff;
    letter-spacing: 5px;
}

.location h6{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lookup-followers {
    margin-left: 15%;
    margin-top: -60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lookup-following {
    margin-left: 75%;
    margin-top: -85px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.likes {
    margin-left: 15%;
    margin-top: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tweets {
    margin-left: 75%;
    margin-top: -85px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lookup-info {
    border: 2px solid white;
    width: 30%;
    margin-top: -140px;
    margin-left: 35%;
    overflow-y: scroll;
    height: 150px;
}

.lookup-info h6{
    margin-top: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lookup-info h5{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lhome {
    position: absolute;
    margin-top: 25px;
    margin-left: 48%;
}

#fwsing-title {
    text-align: center;
    color: khaki;
    margin-bottom: 10px;
}

.fwsing-mutual {
    margin-left: 2%;
    height: 75%;
    width: 45%;
    position: absolute;
    border: 3px solid lightgreen;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden; 
    background: rgba(112, 128, 144, 0.185);
}

.fwsing-nonmutual {
    margin-left: 53%;
    height: 75%;
    width: 45%;
    position: absolute;
    border: 3px solid lightcoral;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden; 
    background: rgba(112, 128, 144, 0.185);
}

.fwsing-mutual .table{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fwsing-nonmutual .table{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fhome {
    position: absolute;
    margin-top: 41%;
    margin-left: 48%; 
}


.card {
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 35px; 
    width: 40%;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    border: 2px solid white;
    margin-top: 1%;
    height: 100px;
    width: 400px;
    margin-left: 37%;
}

#info {
    margin-left: 38%;
}

#ahome {
    position: absolute;
    margin-top: 1%;
    margin-left: 48.3%; 
}

